.App {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.App .weatherContainer {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  max-width: 450px;
  color: #5d4b94;
}

.App .form {
  margin-bottom: 15px;
}

.App .signature {
  font-family: monospace;
  text-align: center;
  color: #bcc2fc;
  size: large;
}

.App canvas {
  height: 75px;
  width: 75px;
  margin-left:34px;
  margin-top: 25px;
  display: inline-block;
}
