.App {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.App .weatherContainer {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  max-width: 450px;
  color: #5d4b94;
}

.App .current-temp {
  text-transform: capitalize;
  font-size: 100px;
  padding: 10px 10px;
}

.App .current-temp {
  font-size: 120px;
  padding: 10px 20px 0px 0px;
  float:right;
  }

.App .currentHighLow {
  margin: 0 auto;
  margin-bottom: 10px;
}
.App .icon {
  font-weight: 100;
  padding: 30px 25px 10px 45px;
}

.App .signature {
  font-family: monospace;
  text-align: center;
  color: #bcc2fc;
  size: large;
}

.weather-description {
  text-transform: capitalize;
}

.App .units {
  margin-top: 33px;
  float: right;
  margin-right: 35px;
  font-size: 25px;
}

.App .city {
  color: #5d4b94;
  margin-left: 15px;
}

.App .form {
  margin-bottom: 15px;
}




.App canvas {
  height: 75px;
  width: 75px;
  margin-left:75px;
  margin-top: 25px;
  display: inline-block;
}
